/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.item {
  input {
    display: inline-block;
  }
  .name {
    a {
      background-image: none;
    }
    .three-dots {
      display: inline-block;
    }
  }
}

.three-dots {
  width: 20px;
  height: 20px;
  background-image: radial-gradient(circle, black 2px, transparent 1px);
  background-size: 100% 33.33%;
}
